@mixin shadow {
    box-shadow: 0 0 12px transparentize($info, 0.2);
}

.timeline {
    list-style-type: none;
    position: relative;

    &:before {
        content: "";
        display: block;
        width: 0;
        height: calc(100% - 1rem);
        border-left: 2px dashed $info;
        @include shadow;
        position: absolute;
        left: 10px;
    }

    li {
        margin: 1rem 20px 2rem 0;
        position: relative;
    }

    li > span {
        content: "";
        display: block;
        width: 0;
        height: calc(100% - 1rem);
        border-left: 2px solid $info;
        @include shadow;
        position: absolute;
        top: 0;
        left: -30px;
    }

    li > span:before {
        top: -0.5rem;
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: $light;
        border: 2px solid $primary;
        @include shadow;
        position: absolute;
        left: -8px;
    }

    li > div {
        padding: 1.5rem 0 1rem;

        p:last-child {
            margin: 0;
        }
    }

    .time {
        position: absolute;
        top: -16px;
        font-weight: lighter;
    }
}
