@import "theme";

// Libraries
@import "../fontawesome/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

html, body, #bg {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
}

html.sr .load-hidden {
    visibility: hidden;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    background-image: url("https://storage.jingbh.top/image/bg/2.jpg/Background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar-brand img {
    width: 30px;
    height: 30px;
}

#avatarContainer {
    padding-top: 20vh;
    text-align: center;
}

#avatar {
    width: 7rem;
    height: 7rem;
}

#introContainer {
    margin-top: 1.5rem;
    position: relative;
}

.container-card {
    background-color: rgba(255, 255, 255, 0.47);
    border-radius: 1.5rem;
    padding: 1rem;
}

.up-and-down {
    animation: up-and-down 1.7s infinite linear;
}

@import "timeline";

@import "mywork";

#footer {
    background: rgba(255, 255, 255, 0.53);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.4) 40%, rgba(255, 255, 255, 0.53));
}

@keyframes up-and-down {
    25% {
        transform: translateY(-0.3rem);
    }

    75% {
        transform: translateY(0.3rem);
    }
}
