@import "~bootstrap/scss/bootstrap";

body {
    font-family: "Open Sans", "Noto Sans SC", sans-serif;
}

h1 {
    img {
        height: 2.5rem;
    }
}

table.table {
    width: 100% !important;
}

table.table.text-nowrap {
    .dtr-details td:last-child {
        white-space: normal !important;
    }
}

.hide {
    display: none;
}

.limit-1 {
    max-width: 10rem !important;
}

#logoSection {
    border-right: solid 2px gray("400");
}

#loginValidateCodeImage {
    height: $input-height;
    border-top-right-radius: $input-border-radius;
    border-bottom-right-radius: $input-border-radius;
}

#userAvatar {
    width: 4rem;
    border-radius: 0.4rem;
}

#userButtons {
    margin-left: auto;
    max-width: 20rem;
}
